<%= form_for @product, :url => products_path, :html => { :multipart => true } do |f| %>
	<div class=''>
	  <%= f.label :name %>
	  <%= f.text_field :name %>
	</div>
	<div class=''>
	  <%= f.label :manufacturer %>
	  <%= f.text_field :manufacturer %>
	</div>
	<div class=''>
	  <%= f.label :model %>
	  <%= f.text_field :model %>
	</div>
	<div class=''>
	  <%= f.label :year %>
	  <%= f.number_field :year %>
	</div>
	<div class=''>
	  <%= f.file_field :hero %>
	</div>
	<div class="actions">
	  <%= f.submit %>
	</div>
<% end %>